/* navBar custom color */
.navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.6);
}

/* navBar hover and focus custom colors */
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: rgb(255, 190, 152);
}

.navbar-brand {
    color: rgba(0, 0, 0, 0.6);
}

.navbar-brand:hover {
    color: rgb(255, 190, 152);
}
/* hero banner */
.jumbotron {
    background-image: url(../images/banner-wall.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgba(0, 0, 0, 0.6) 
}
/* portrait  margin top */
.jumbotron img {
    margin-top: 30px;
}


/* Hover effect for hyperlinks in the footer */
.footer .footer-link:hover {
    color: rgb(255, 190, 152);
    text-decoration: underline;
  }
  
  /* Box shadow for buttons in the footer on hover doesnt work yet*/
  .footer .footer-button:hover {
    box-shadow: 0 5px 15px rgba(255, 190, 152, 0.6);
  }
  